body {
	font-size: 16px;
	background-color: #80113b;
	font-family: 'PT Serif', serif;
}

#header-nav {
	background-color: #f0ab22;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background : url();
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}