body {
	font-size: 16px;
	background-color: #80113b;
	font-family: 'PT Serif', serif;
}

#header-nav {
	background-color: #f0ab22;
	border-radius: 0;
	border: 1px;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 {
	font-family: 'Dancing Script', cursive;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list a {
	color: black;
	font-weight: bold;
}

#nav-list a:hover {
  background:whitesmoke;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

h2 {
	color: #6f9e24;
	font-size: 175%;
}

#home-tiles { 
	padding: 10px; 
}

#chicken, #beef, #sushi {
  height: auto;
  width: 100%;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
  background-color: #999999;
  box-shadow: 0px 0px 20px -3px rgba(82,82,82,1);
}

#chicken a, #beef a, #sushi a {
  color: #0c0d0d;
  font-weight: bold;
}

#chicken a:hover, #beef a:hover, #sushi a:hover {
  text-decoration: none;
  color: #0c0d0d;
}

p { padding: 15px; }
